.attribution {
    font-size: 11px;
    text-align: center;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: hsl(0, 0%, 100%, 0.6);
    text-align: center;
}

.score-text {
    padding: 0 2rem;
}

.result {
    height: 450px;
    width: 350px;
    border-radius: 20px;
    background:  hsl(234, 85%, 45%);
    background: linear-gradient(0deg, hsl(241, 95%, 61%), rgb(79, 16, 252));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(31, 27, 255), rgb(92, 36, 245));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle p {
    color:  hsla(0, 0%, 100%, 0.6);
    margin: 0;
}

.class76 {
    color: white;
    font-size: 4rem;
}

.great-span {
    color: white;
    font-size: 4rem;
}

.great > span {
    font-size: 2.5rem;
}

h2 {
    color:  hsla(0, 0%, 100%, 0.6);
    font-size: 1.2rem;
    padding: 1rem;
    padding-top: 1.5rem;
    margin: 0;
}

.summary {
    height: 450px;
    width: 350px;
    display: flex;
    box-shadow: 2px 2px 40px 3px hsl(224, 30%, 27%, 0.2);
    flex-direction: column;
}
.summary h2 {
    color: hsl(224, 30%, 27%);
    margin: 0 1.5rem;
    padding: 24px 16px 16px 0;
}
.summary p {
    color: black;
    display: inline-block;
}

.information-box {
    margin: 0 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.svg {
    padding: 0 5px 0 10px;
    
}

.end {
    align-self: stretch;
}

.reaction {
    background-color: hsl(0, 100%, 95%);
}
.reaction p {
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 95%);
}
.memory p{
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 95%);
}
.verbal p{
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 95%);
}
.visual p{
    color: hsl(234, 85%, 45%);
}

.button {
    background:  hsl(234, 85%, 45%);
    background: linear-gradient(0deg, hsl(241, 95%, 61%), rgb(79, 16, 252));
    height: 2.7rem;
    width: 17rem;
    border-radius: 100px;
    text-align: center;
    margin: auto;
}

.button a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 0.8rem;
}

.button:hover{
    cursor: pointer;
}
.button:active {
    background: linear-gradient(0deg, hsl(241, 65%, 47%), rgb(58, 6, 202));
}

@media (max-width: 600px) {
    .main {
        height: auto;
        margin: 4rem 0;
        flex-direction: column;
    }
}